@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    background-color: #A5B9C0;
}
body::-webkit-scrollbar-thumb{
    border: 4px solid #A5B9C0;
    border-radius: 8px;
    background-color: #fff;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
header .logo{
    color: #111;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
header .logo span{
    color: #0112ff;
}
header .navigation{
    position: relative;
    display: flex;
}
header .navigation li{
    list-style: none;
    margin-left: 30px;
}
header .navigation li a{
    text-decoration: none;
    color: #111;
    font-weight: 300;
}
header .navigation li a:hover{
    color: #0112ff;
}
section{
    padding: 100px;
}
.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row .col50{
    position: relative;
    width: 48%;
}
.titleText{
    color: #111;
    font-size: 2em;
    font-weight: 300;
}
.titleText span{
    color: #0112ff;
    font-weight: 700;
    font-size: 1.5em;
}
.btn{
    font-size: 1em;
    color: #fff;
    background: #0112ff;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu .content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
}
.menu .content .box{
    width: 340;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.8);
}
.box{
    width: 29%;
    height: 29%;
}
.menu .content .box img{
    width: 100%;
    height: 100%;
}
.box .text a{
    font-weight: 400;
    color: #111;
    text-decoration:none;
}
.box .text a:hover{
    color: #0112ff;
    letter-spacing: 6px;
}
